NOTE: This notebook is assuming you have the daily_dataset.csv inside the folder local_data in data.

The `daily_dataset.csv` should be exactly how it is when it is being recently downloaded from the AB Datachallenge portal.

In [43]:
import numpy as np
import pandas as pd
import os

In [39]:
daily_aigues = pd.read_csv("../data/local_data/daily_dataset.csv", encoding='latin1')
daily_aigues.tail()

/var/folders/t1/rkwffv314k333khdlgxlw40m0000gn/T/ipykernel_49854/3475646061.py:1: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  daily_aigues = pd.read_csv("../data/local_data/daily_dataset.csv", encoding='latin1')

,SecciÃ³ censal/SecciÃ³n censal/Census section,Districte/Distrito/District,Municipi/Municipio/Municipality,Data/Fecha/Date,Ãs/Uso/Use,Nombre de comptadors/NÃºmero de contadores/Number of meters,Consum acumulat (L/dia)/Consumo acumulado (L/dÃ­a)/Accumulated consumption (L/day)
3574957,NaN,NaN,PALLEJA,2023-12-30,DomÃ¨stic/DomÃ©stico/Domestic,130,8427
3574958,NaN,NaN,PALLEJA,2023-12-30,Industrial/Industrial/Industrial,8,533
3574959,NaN,NaN,PALLEJA,2023-12-31,Comercial/Comercial/Commercial,5,20
3574960,NaN,NaN,PALLEJA,2023-12-31,DomÃ¨stic/DomÃ©stico/Domestic,130,10496
3574961,NaN,NaN,PALLEJA,2023-12-31,Industrial/Industrial/Industrial,8,298

In [21]:
daily_aigues = daily_aigues.rename(columns={
    daily_aigues.columns[0]: 'Census Section',
    daily_aigues.columns[1]: 'District',
    daily_aigues.columns[2]: 'Municipality',
    daily_aigues.columns[3]: 'Date',
    daily_aigues.columns[4]: 'Use',
    daily_aigues.columns[5]: 'Number of Meters',
    daily_aigues.columns[6]: 'Accumulated Consumption'
})

daily_aigues['Date'] = pd.to_datetime(daily_aigues['Date'])

daily_aigues.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3574962 entries, 0 to 3574961
Data columns (total 7 columns):
 #   Column                   Dtype
---  ------                   -----
 0   Census Section           object
 1   District                 object
 2   Municipality             object
 3   Date                     datetime64[ns]
 4   Use                      object
 5   Number of Meters         int64
 6   Accumulated Consumption  int64
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 190.9+ MB

In [22]:
daily_aigues['Use'] = daily_aigues['Use'].replace({
    'Comercial/Comercial/Commercial': 'Commercial',
    'DomÃ¨stic/DomÃ©stico/Domestic': 'Domestic',
    'Industrial/Industrial/Industrial': 'Industrial'
})

daily_aigues['Use'].unique()

array(['Commercial', 'Domestic', 'Industrial'], dtype=object)

In [23]:
daily_aigues['Municipality'].unique()

array(['BADALONA', 'BARCELONA', "L'HOSPITALET LLOBR.", 'PALLEJA',
       'EL PAPIOL'], dtype=object)

In [24]:
daily_aigues_bcn = daily_aigues[daily_aigues['Municipality'] == 'BARCELONA'].drop(columns=["Municipality"])

In [38]:
daily_aigues_bcn.head()

,Census Section,District,Date,Use,Number of Meters,Accumulated Consumption
3565567,NaN,NaN,2023-12-30,Domestic,2082,48293
3565568,NaN,NaN,2023-12-30,Industrial,87,255366
3565569,NaN,NaN,2023-12-31,Commercial,237,20749
3565570,NaN,NaN,2023-12-31,Domestic,2082,53443
3565571,NaN,NaN,2023-12-31,Industrial,87,230242

In [26]:
daily_aigues_bcn.shape

(2730880, 6)

In [27]:
tourism_temp_bcn = pd.read_csv("../data/preprocessed_data/tourism_temp_bcn.csv")
tourism_temp_bcn.head()

,Day,temp_max,temp_min,precipitacion,Pernoctacions_Habitatge_turístic,Pernoctacions_Hotel
0,01-01-2021,7.55,4.30,5.65,3500,8700.0
1,02-01-2021,8.55,1.55,0.00,6369,15828.0
2,03-01-2021,9.55,0.85,0.00,6904,17160.0
3,04-01-2021,10.10,0.65,0.00,5825,14478.0
4,05-01-2021,9.40,0.65,0.00,4669,11603.0

In [32]:
tourism_temp_bcn = tourism_temp_bcn.rename(columns={
    tourism_temp_bcn.columns.values[0] : 'Day',
    tourism_temp_bcn.columns.values[1] : 'Max Temperature',
    tourism_temp_bcn.columns.values[2] : 'Min Temperature',
    tourism_temp_bcn.columns.values[3] : 'Precipitation',
    tourism_temp_bcn.columns.values[4] : 'Tourist Accommodations',
    tourism_temp_bcn.columns.values[5] : 'Hotel Overnight Stays'
})

tourism_temp_bcn['Day'] = pd.to_datetime(tourism_temp_bcn['Day'], format="%d-%m-%Y")

In [33]:
tourism_temp_bcn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Day                     1095 non-null   datetime64[ns]
 1   Max Temperature         1095 non-null   float64
 2   Min Temperature         1095 non-null   float64
 3   Precipitation           1095 non-null   float64
 4   Tourist Accommodations  1095 non-null   int64
 5   Hotel Overnight Stays   1095 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 51.5 KB

In [34]:
merged_data = daily_aigues_bcn.merge(tourism_temp_bcn, left_on='Date', right_on='Day', how='left')

In [35]:
merged_data.shape

(2730880, 12)

In [41]:
merged_data.head(10)

,Census Section,District,Date,Use,Number of Meters,Accumulated Consumption,Day,Max Temperature,Min Temperature,Precipitation,Tourist Accommodations,Hotel Overnight Stays
0,801901001,1,2021-01-01,Commercial,56,2710,2021-01-01,7.55,4.30,5.65,3500,8700.0
1,801901001,1,2021-01-01,Domestic,322,10058,2021-01-01,7.55,4.30,5.65,3500,8700.0
2,801901001,1,2021-01-01,Industrial,10,140646,2021-01-01,7.55,4.30,5.65,3500,8700.0
3,801901001,1,2021-01-02,Commercial,56,3573,2021-01-02,8.55,1.55,0.00,6369,15828.0
4,801901001,1,2021-01-02,Domestic,322,9600,2021-01-02,8.55,1.55,0.00,6369,15828.0
5,801901001,1,2021-01-02,Industrial,10,153028,2021-01-02,8.55,1.55,0.00,6369,15828.0
6,801901001,1,2021-01-03,Commercial,56,3801,2021-01-03,9.55,0.85,0.00,6904,17160.0
7,801901001,1,2021-01-03,Domestic,322,9903,2021-01-03,9.55,0.85,0.00,6904,17160.0
8,801901001,1,2021-01-03,Industrial,10,115605,2021-01-03,9.55,0.85,0.00,6904,17160.0
9,801901001,1,2021-01-04,Commercial,56,5288,2021-01-04,10.10,0.65,0.00,5825,14478.0

In [44]:
# Save CSV data

# Create the directory if it does not exist
os.makedirs('../data/local_data/', exist_ok=True)
merged_data.to_csv('../data/local_data/merged_data.csv', index=False)